# Django cache, log and media files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# database data
data/
migrations/

# Mac stuff most of you won't need
.DS_Store
