<!DOCTYPE html>
<html>
    <nav class=navbar>
    <!-- Implement Nav bar here-->
    </nav>
    <div class="container">
        <div class="card border-0 shadow my-5">
          <div class="card-body p-5">
            <body style="background-color: rgb(255, 255, 255);">
                <section style="margin-top: 10px">
                    {% block content %}{% endblock %}
                </section>      
            </body>
            <div style="height: 700px"></div>
            
            <!-- END -->
          </div>
          <footer>
            <!--Implement Footer Here!-->
          </footer>
        </div>
      </div>

</html>
