{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- bootstrap CSS imports -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link other scripts and stylesheets here -->
    <link rel="stylesheet" href="{% static 'vger/style.css' %}" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'vger/favicon.ico' %}" type="image/vnd.microsoft.icon"/>
  </head>

  <div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <body>
          <!-- navbar -->
          <nav class="navbar navbar-default">
            <span class="navbar-brand mb-0 h1">SUNY Potsdam VGER</span>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home-page' %}">Home</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'survey' %}">Survey List</a>
              </li>
            </ul>
          </nav>

          <!-- page content -->
          <section style="margin-top: 10px">
            {% block content %}{% endblock %}
          </section>      
        </body>

        <footer>
            <!--Implement Footer Here!-->
        </footer>
     </div>
  </div>
</html>