{% extends "base.html" %}

{% block content %}
  <h1>Title: {{category_detail.titleOfCategory }}</h1>

  <h4>Questions:</h4>

  {% for Question in category_detail.questions.all %}
    <div style="margin-left:20px;margin-top:20px">
      {% if perms.canCreateQuestion %}
        <a href="{{ Question.get_absolute_url }}">Question: {{Question.questionText}}?</a> 
      {% else %}
        <p>Question: {{Question.questionText}}?</p>
      {% endif %}
    </div>
  {% endfor %}
  <p> </p>
  <a href="{{ category_detail.survey_fk.get_absolute_url }}">Return</a>

<div style='display:flex'>
{% comment %} Return button {% endcomment %}
  <form action = "{{ category_detail.survey_fk.get_absolute_url }}">
    <button type = "submit">
      Return
    </button>
  </form>
{% comment %} Update Category button {% endcomment %}
  {%if perms.canUpdateCategory%}
    <form action = "{{ category_detail.get_absolute_url }}/update-category">
      <button type = "submit">
        Update Category
      </button>
    </form>
  {% endif %}
{% comment %} Delete Category button {% endcomment %}
  {%if perms.canUpdateCategory%}
    <form action = "{{ category_detail.get_absolute_url }}/delete-category">
      <button type = "submit">
        Delete Category
      </button>
    </form>
  {% endif %}
</div>
{% comment %}
  {% if perms.canUpdateCategory %}
    <a href="{{ category_detail.get_absolute_url }}/update-category">Update Category</a> 
  {% endif %}
  {% if perms.canDeleteCategory %}
    <a href="{{ category_detail.get_absolute_url }}/delete-category">Delete Category</a> 
  {% endif %}
  {% if perms.canCreateQuestion %}
    <a href="{{ category_detail.get_absolute_url }}/create-question">Create Question</a>  
  {% endif %}
{% endcomment %}
{% endblock %}
