{% extends "base.html" %}
{% load static %}
{% block title %}SUNY Potsdam VGER{% endblock %}
{% block content %}
<!--INSERT PAGE CONTENT BETWEEN HERE-->
<body>
    <h1>Welcome to the Remote Learning Survey!</h1>

    <p>Our mission is to provide the students of SUNY Potsdam with a survey to help them determine what style of learning is best for them in the upcoming years of uncertainty. Part of our goal is to also allow the acedemic advisors of SUNY Potsdam to be part of the process in finding what works best for them.</p>

    <p><em>Answer a series of questions to help determine which situation suits you best!</em></p>
   
    <img src="{% static 'vger/pdamBear.png' %}" alt="Potsdam Bear Logo" class="float-right"/>
    
    <h2 > For Students</h2>
    <ul>
        {% if not user.is_authenticated %}
            <li><a href="{% url 'login' %}">Login</a> to take a new survey!</li>
        {% endif %}
        <li>You may also see previous scores and compare those results</li>
        <li>If you would like, you can download your survey results</li>
    </ul>
    <h2>For Advisors</h2>
    <ul>
        {% if not user.is_authenticated %}
            <li><a href="{% url 'login' %}">Login</a> to view students results/score breakdown</li>
        {% endif %}
        <li>View students results/score breakdown</li>
    </ul>

    <h2>For Admins</h2>
    <ul>
        {% if not user.is_authenticated %}
            <li><a href="{% url 'login' %}">Login</a> to take a survey and/or see scores.</li>
        {% endif %}
        <li>You can check on the current and/or previous versions of the survey</li>
        <li>You may also update questions and/or gather questions from other surveys</li>
        
</body>
<!--AND HERE-->
{% endblock content %}