{% extends "base.html" %}
{% load static %}
{% block content %}
<!--INSERT PAGE CONTENT BETWEEN HERE-->
<body>
    <h1>Welcome to the Remote Learning Survey!</h1>

    <p><em>Answer a series of questions to help determine which situation suits you best!</em></p>
   
    <img src="{% static 'vger/pdamBear.png' %}" alt="Potsdam Bear Logo" class="float-right"/>
    
    <h2 > For Students</h2>
    <ul>
        <li>Login to take a new survey!</li>
        <li>You may also see previous scores and compare those results</li>
        <li>If you would like, you can download your survey results</li>
    </ul>
    <h2>For Advisors</h2>
    <ul>
        <li>Login to view students results/score breakdown</li>
    </ul>

    <h2>For Admins</h2>
    <ul>
        <li>Login to publish a new survey</li>
        <li>You can check on the current and/or previous versions of the survey</li>
        <li>You may also update questions and/or gather questions from other surveys</li>

        <p><a href="{% url 'login' %}">Login</a> to take a survey and/or see scores.</p>
        
</body>
<!--AND HERE-->
{% endblock content %}