{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <h2>List of Ranges</h2>
</div>
  
{% if option_list %}
<div class="container-fluid">
  <ul class="list-group-flush">
    {% for option_group in option_list %}
    <li class="list-group-item">
      <div class="container-fluid row">
        <div class="col-sm-8">
          <div class="btn btn-toolbar" role="btn-toolbar">
            <div class="btn-group mr-2" role="group">
              <button class="btn btn-primary" type="button"
                  data-toggle="collapse" data-target="#{{option_group.pk}}">
                {{ option_group.name_of_group }}
              </button> 
            </div>
          </div>
        </div>

        <div class="col-sm float-right">
          <div class="btn-toolbar" role="toolbar">
            {% if perms.canEditOption %}
            <div class="btn-group mr-2" role="group">
              <a class="btn btn-info" href="detail/{{ option_group.pk }}">
                Edit
              </a>
            </div>
            {% endif %}

            {% if perms.canDeleteOption %}
            <div class="btn-group mr-2" role="group">
              <a class="btn btn-danger" href="delete/{{ option_group.pk }}">
                Delete
              </a>
            </div>
            {% endif %}
          </div>

          <div class="col-sm float-right">
            <ul class="list-group-flush">
              <div class="collapse" id="{{option_group.pk}}">
                <div class="card card-body">
                  {% for option_choice in option_choices %}
                  <li class="list-group-item">
                    {% if option_choice.option_group == option_group %}
                    <div style="margin-left:20px;margin-top:20px; overflow: hidden;">
                      {% if perms.canCreateOptions %}
                      <div style="float: left; width: auto;">
                        {{option_choice.choice_text}}
                      </div>  
                         
                      <div class="col-sm float-right" style="float: left;">
                        Weight: {{option_choice.weight }}
   
                        <div class="btn-toolbar" role="toolbar">
                          {% if perms.canEditOption %}
                          <div class="btn-group mr-2" role="group">
                            <a class="btn btn-info" href="choice-update/{{ option_choice.pk }}">
                              Edit
                            </a>
                          </div>
                          {% endif %}
   
                          {% if perms.canDeleteOption %}
                          <div class="btn-group mr-2" role="group">
                            <a class="btn btn-danger" href="choice-delete/{{ option_choice.pk }}">
                              Delete
                            </a>
                          </div>
                          {% endif %}
                                    
                        </div>
                      </div>
                              
                      {% else %}
                      <p>Option Choice: {{Option_Choice.choice_text}}</p>
                      {% endif %}
   
                    </div>
                    {% endif %} 
                  </li>
                  {% endfor %}
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% else %}
<div class="container-fluid">
  <p><strong>There are no Groups in the database</strong></p>
</div>
{% endif %}

{% if perms.canCreateSurvey %}
  <div class="container-fluid">
    <a class="btn btn-success" href="{% url 'option-create' %}">
      Create New Range
    </a>
  </div>

  <br />

  <div class="container-fluid">
    <form action="{%url 'survey' %}">
      <button class="btn btn-primary" type="submit">
        Return
      </button>
    </form>
  </div>
{% endif %}
{% endblock %}