{% extends "base.html" %}

{% block content %}
  <p>Question: {{this_question.question_text }}?</p>
  <p> </p>
  
<div style='display:flex'>
  {% comment %} Return button {% endcomment %}
  <form action = "{{ this_category.survey_fk.get_absolute_url }}">
    <button type = "submit">
      Return
    </button>
  </form>
  {% comment %} Update Question Button {% endcomment %}
  {%if perms.canUpdateQuestion%}
    <form action = "{{ this_question.get_absolute_url }}/update-question">
      <button type = "submit">
        Update Question
      </button>
    </form>
  {% endif %}
  {% comment %} Delete Category button {% endcomment %}
  {%if perms.canDeleteQuestion%}
    <form action = "{{ this_question.get_absolute_url }}/delete-question">
      <button type = "submit">
        Delete Question
      </button>
    </form>
  {% endif %}
</div>

{% endblock %}