{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <h2>List of Surveys</h2>
  </div>
  
  {% if survey_list %}
    <div class="container-fluid">
      <ul class="list-group-flush">
        {% for survey in survey_list %}
          <li class="list-group-item">
            <div class="container-fluid row">
              <div class="col-sm-8">
                
                <p style="float: left;">{{ survey.titleOfSurvey }}</p> 
                <p style="float: right;">{{ survey.version_number }}</p>
              </div>
              <div class="col-sm float-right">
                <div class="btn-toolbar" role="toolbar">
                  {% if perms.canEditSurvey %}
                  <div class="btn-group mr-2" role="group">
                    <a class="btn btn-info" href="{{ survey.get_absolute_url }}">
                      Edit
                    </a>
                  </div>
                  {% endif %}

                  {% if perms.canDeleteSurvey %}
                  <div class="btn-group mr-2" role="group">
                    <a class="btn btn-danger" href="{{survey.get_absolute_url }}/delete">
                      Delete
                    </a>
                  </div>
                  {% endif %}

                  <div class="btn-group mr-2" role="group">
                    <a class="btn btn-primary" href="{{ survey.get_welcome_url }}">
                      Take Survey
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="container-fluid">
      <p><strong>There are no surveys in the database</strong></p>
    </div>
  {% endif %} 

  {% if perms.canCreateSurvey %}
    <div class="container-fluid">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
          <a class="btn btn-success" href="{% url 'survey-create' %}">
            New Survey
          </a>
        </div>
        <div class="btn-group mr-2" role="toolbar">
          <a class="btn btn-info" href="{% url 'option-list' %}">
            View Ranges
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
