{% extends "base.html" %}

{% block content %}
  <h1>List of Surveys</h1>
  {% if survey_list %}
  <ul id="parent">
    {% for survey in survey_list %}
      <li>
        <div>
            <a href="{{ survey.get_absolute_url }}">{{ survey.titleOfSurvey }}</a> 
            <div class="tke-srvy">
              <a class="btn btn-primary" href="{{ survey.get_welcome_url }}">Take Survey</a>
            </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no surveys in the database</p>
    
  {% endif %} 
{% endblock %}
