{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="/static/base/expand_button.js"></script>
{% endblock %}
{% block content %}
<h1>Title: {{survey.titleOfSurvey }}</h1>
<a href="{{ survey.get_welcome_url }}">Take Survey</a>
<p><strong>Description:</strong> {{survey.description }}</p>
{% comment %} {% if perms.canDeleteSurvey %}
    <a href="{{ survey_detail.get_absolute_url }}/delete">Delete Survey</a>
{% endif %} {% endcomment %}
<h2><strong>Categories:</strong></h2>
{% for Category in categories%}
  <p>{{Category.titleOfCategory}}</p>
  <h2>Questions: </h2>
  {% for Question in questions %}
    {% if Question.category_fk == Category %}
      <p>{{Question.question_fk.question_text}}</p>
      {% comment %} {% if perms.canUpdateQuestion %}
        <a href="{{ question_detail.get_absolute_url }}/update-question">Update Question</a>   {% endif %}
      {% if perms.canDeleteQuestion %}
        <a href="{{ question_detail.get_absolute_url }}/delete-question">Delete Question</a> 
      {% endif %} {% endcomment %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% comment %} {% if perms.canCreateCategory %}
      <a href="{{ Category.get_absolute_url }}">Title: {{Category.titleOfCategory}}</a> 
{% endif %} {% endcomment %}





{% comment %} 
  <h4>Categories:</h4>
  <!--https://stackoverflow.com/questions/6704749/relatedmanager-object-is-not-iterable-django-->
  <!--https://stackoverflow.com/questions/37346173/django-select-related -->
  <!------Remove the () from the end of all to get relational queires to work-->
  {% for Category in categories %}
    <div style="margin-left:20px;margin-top:20px">

    {% if perms.canCreateCategory %}
      <a href="{{ Category.get_absolute_url }}">Title: {{Category.titleOfCategory}}</a> 
    {% else %}
      <p>Category Title: {{Category.titleOfCategory}}</p>
    {% endif %}
   
    {% for Question in Category.questions.all %}
        <div style="margin-left:20px;margin-top:20px">
          {% if perms.canCreateQuestion %}
            <a href="{{ Question.get_absolute_url }}">Question: {{Question.questionText}}?</a> 
          {% else %}
            <p>Question: {{Question.questionText}}?</p>
          {% endif %}
        </div>
    {% endfor %}
    </div>
  {% endfor %}
   <p> </p>
   <a href="{% url 'survey' %}">Return</a>
  {% if perms.canDeleteSurvey %}
    <a href="{{ survey_detail.get_absolute_url }}/delete">Delete Survey</a>
  {% endif %}
  {% if perms.canUpdateSurvey %}
  <a href="{{ survey_detail.get_absolute_url }}/update">Update Survey</a> 
  {% endif %}
  {% if perms.canCreateCategory %}
  <a href="{{ survey_detail.get_absolute_url }}/create-category">Create Category</a>   
  {% endif %} {% endcomment %}

{% endblock %}
