{% extends "base.html" %}

{% block content %}
  <h1>Title: {{survey_detail.titleOfSurvey }}</h1>

  <p><strong>Directions:</strong> {{survey_detail.directions }}</p>

  <h4>Categories:</h4>
  <!--https://stackoverflow.com/questions/6704749/relatedmanager-object-is-not-iterable-django-->
  <!--https://stackoverflow.com/questions/37346173/django-select-related -->
  <!------Remove the () from the end of all to get relational queires to work-->
  {% for Category in survey_detail.categories.all %}
    <div style="margin-left:20px;margin-top:20px">
    <!-----Title: {{ Category.titleOfCategory }}---->
    <a href="{{ Category.get_absolute_url }}">Title: {{Category.titleOfCategory}}</a> 

    {% for Question in Category.questions.all %}
        <div style="margin-left:20px;margin-top:20px">
          <a href="{{ Question.get_absolute_url }}">Question: {{Question.questionText}}?</a> 
        </div>
    {% endfor %}
    </div>
  {% endfor %}
  <p> </p>
  <a href="{{ survey_detail.get_absolute_url }}/delete">Delete Survey</a>
  <a href="{{ survey_detail.get_absolute_url }}/update">Update Survey</a> 
  <a href="{{ survey_detail.get_absolute_url }}/create-category">Create Category</a> 
{% endblock %}
