
html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:#000000;
    background-color:#8a1538; 
}

h1, h2, h3, h4, h5, h6, a {
    color:#8a1538;
}
.logo {
    display: block;
    box-shadow: none;
    padding-left: 2%;
    width: 9rem;
    height: auto;
    float:left;
}
.logo img {
    height: auto;
    width: 100%;
}
.nav-bar-links {
    float: right; 
}
.nav-b {
    background-color: rgb(255, 255, 255);
    flex: 1 1 auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: auto;
    overflow: hidden;
}

#main-card {
    border-radius: 25px;
}

.nav-link {
    color:#000000;
    font-weight: 400;
    font-family: EB Garamond,serif;
}

.nav-link:hover {
    color: #8a1538;
}

.spacer{margin-top:5px;}

.row{margin-top:10px;}

.btn-new {
    color: white;
    background-color:#b10af3;
    border-color:#ffffff;
}

.btn-primary {
    background-color:#8a1538;
    border-color:#8a1538;
}


.btn-primary:hover {
    background-color:#660f29;
    border-color:#660f29;
}

.btn-primary.disabled {
    background-color:#89374f;
    border-color:#89374f;
}

.row{margin-top: 10px;}

table{margin-top: 15px;}
