body {
    font-size:1.3em;
    color:#000000;
    background-color:#8a1538; 
}

h1, h2, h3, h4, h5, h6, a {
    color:#8a1538;
}

a:hover {
    color:#cc1e52;
    text-decoration:none;
}

.nav-link {
    color:#8a1538;
    font-weight:bold;
}

.nav-link:hover {
    color:#cc1e52;
}

.spacer{margin-top:5px;}

.row{margin-top:10px;}

.btn-primary {
    background-color:#8a1538;
    border-color:#8a1538;
}

.btn-primary:hover {
    background-color:#cc1e52;
    border-color:#cc1e52;
}

.btn-primary.disabled {
    background-color:#89374f;
    border-color:#89374f;
}

.row{margin-top: 10px;}

table{margin-top: 15px;}

/* .tke-srvy {
    padding-left: 0;
    display: inline-block"
} */

/* #parent {
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#parent > li {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: red;
} */