body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #000000;
    background-color: gray;
}

.navbar {
    padding-bottom: 5%;
}

.navset {
    position: fixed;
    list-style-type: none; 
    margin: 0; 
    padding-bottom: 0;
}

.navlist {
    float: left;
}

.navlink {
    text-align: center;
    padding: 8px;
    border: 1px;
    display: block;
    width: 85px;
}

li a:hover {
    background-color: #555;
    color: white;
}