{% extends "base.html" %}
{% block content %}
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Log In</legend>
                {{ form }}
            </fieldset>
            <div>
                <button type="submit">
                    Sign In
                </button>
            </div>
        </form>
        <div class="borter-top pt-3">
            <small class="text-muted">
                Dont have an account?  <a class="ml-2" href="{% url 'register' %}">Register here</a>
            </small>

        </div>

{% endblock content %}
