{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}VGER | Login{% endblock %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <fieldset>
    <div class="form-row">
      <legend>Log In:</legend>
    </div>

    <div class="form-row">
      <div class="form-group col-mb-6 mb-0">
        {{ form.username|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-mb-6 mb-0">
        {{ form.password|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-mb-6 mb-0">
        {{ form|as_crispy_errors }}
      </div>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary">
    Sign In
  </button>
</form>

{% endblock content %}
