{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!--INSERT PAGE CONTENT BETWEEN HERE-->
<form method="POST" action="">
  {% csrf_token %}
  <fieldset>
    <div class="form-row">
      <legend>Register:</legend>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.username|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.email|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.role|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.password1|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.password2|as_crispy_field }}
      </div>
    </div>
  </fieldset>
 
  <button type="submit" class="btn btn-primary">
    Create User
  </button>
</form>

{{form.errors}}

<div class="borter-top pt-3 row spacer">


</div>
<!--AND HERE-->
{% endblock content %}