{% extends 'base.html' %}
{% block content %}
<!--INSERT PAGE CONTENT BETWEEN HERE-->
<form method="POST" action="">
  <fieldset>
    <div class="row spacer">
      <legend>Register:</legend>
    </div>

    <div class="row spacer">
      {% csrf_token %}
      {{form.username.label}}
      {{form.username}}
    </div>

    <div class="row spacer">
      {{form.email.label}}
      {{form.email}}
    </div>

    <div class="row spacer">
      {{form.password1.label}}
      {{form.password1}}
    </div>

    <div class="row spacer">
      {{form.password2.label}}
      {{form.password2}}
    </div>
  </fieldset>

  <div class="row spacer">
    <input class="btn btn-primary" type="submit" name="Create User">
  </div>
</form>

{{form.errors}}

<div class="border-top pt-3 row spacer">
  <small class="text-muted">
    Already Have An account? <a class="ml-2" href="{% url 'login' %}">Log in</a>
  </small>

</div>
<!--AND HERE-->
{% endblock content %}